<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vragenlijst</title>
</head>
<body>
    <h1>Vragenlijst</h1>
{# TODO: Perhaps add an image as background of the block. #}
    <form action="advies_formuleren/" method="POST">
        {% csrf_token %}
        {% for question in questions %}
             <div style="
                justify-content: center; display: flex; border: 1px solid #383333;
                border-radius: 50px; width: 700px; height: 200px;
              ">
                <div style="
                    padding-top: 75px;
                ">
                    <label for="antwoord">{{ question.0 }}</label>
                    <br>
                    {% for answer in question.1 %}
                        <input type="radio" id="antwoord" name="antwoord" value="eens">{{ answer }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="OK">
    </form>
</body>
</html>
