<!DOCTYPE html>
<html>
  <head>
  	<title>Informatie over de quiz</title>
  	<style>
  		h1 {color:blue;}
  		h1 {text-align:center;}
  		p {text-align:center;}
  		body {background-color: lightgrey;}
  	</style>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarNav">
    	<ul class="navbar-nav">
      	<li class="nav-item active">
        	<a class="nav-link disabled">Informatie over de quiz</a>
      	</li>
    	</ul>
  	</div>
	</nav>
		<div id="tekst">
	  	<p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:bold;background-color: white"> Deze quiz zal op basis van jouw antwoorden een resultaat weergeven, dat aangeeft welke van de vier specialiteiten die aangeboden wordt op de Hogeschool Leiden bij jouw profiel past. Dit gebeurt aan de hand van een puntensysteem, waarbij de beantwoorde vragen wel of geen punten geven voor een bepaalde specialisatie. Het programma houdt bij hoeveel punten je verzamelt voor elke specialisatie, en de specialisatie met de meeste punten wordt weergegeven in de resultatenpagina.<br><br>
			
			Met deze nuttige quiz is het dus mogelijk een specialisatie te kiezen, als je nog niet weet welke specialisatie bij jou hoort. Of als je het wel weet, om te controleren of jouw keuze inderdaad past, volgens de quiz.<br><br>

			De quiz bestaat uit <strong>20 vragen</strong>: 5 vragen horend bij elke specialisatie. Aan de hand van de antwoorden op de vragen meten we of je geintereseerd bent in het onderwerp waar de vraag over gaat, en door 5 vragen te hebben over de hoofd-onderwerpen van de specialisatie, zou het dus een goed advies moeten geven over welke specialisatie je het beste kan kiezen.<br><br>

	  	<em>De quiz is ontworpen door studenten uit het eerste jaar als praktische opdracht.</em>
	  	</p>
	</div>
  </body>
</html>
