<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informatie over de quiz</title>

    <style>
        #container {
            width: 50%;
            margin: 20px auto;
            border: 1px solid #383333;
            border-radius: 50px; height: 200px;
            display: flex;
            align-items: center;
            box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, .75);
        }
        #title {
            display: flex;
            justify-content: center;
            padding: 50px;
            font-size: 4vw;
        }
        .box {
            padding: 50px
        }
    </style>
</head>
<body>
    <h1 id="title">Informatie over de quiz</h1>
    <div id="container">
        <p class="box">Deze quiz zal op basis van jouw antwoorden een resultaat weergeven, dat aangeeft welke van de vier specialiteiten die aangeboden wordt op de Hogeschool Leiden bij jouw profiel past. Dit gebeurt aan de hand van een puntensysteem, waarbij de beantwoorde vragen wel of geen punten geven voor een bepaalde specialisatie. Het programma houdt bij hoeveel punten je verzamelt voor elke specialisatie, en de specialisatie met de meeste punten wordt weergegeven in de resultatenpagina.</p>
    </div>
    <div id="container">
        <p class="box">Met deze nuttige quiz is het dus mogelijk een specialisatie te kiezen, als je nog niet weten welke specialisatie bij jou hoort. Of als je het wel weet, om te controleren of jouw keuze inderdaad past bij de inhoud van de specialisatie.</p>
    </div>
    <div id="container">
        <p class="box">De quiz bestaat uit 20 vragen: 5 vragen horend bij elke specialisatie. Aan de hand van de antwoorden op de vragen meten we of je geintereseerd bent in het onderwerp waar de vraag over gaat, en door 5 vragen te hebben over de hoofd-onderwerpen van de specialisatie, zou het dus een goed advies moeten geven over welke specialisatie je het beste kan kiezen.</p>
    </div>
    <div id="container">
        <p class="box">De quiz is ontworpen door studenten uit het eerste jaar als praktische opdracht.</p>
    </div>
</body>
</html>
