{% extends 'specialisations/main.html' %}

{% block content %}

{% include 'specialisations/status.html' %}

<br>

<div class="col-md-5">
	<h5>OER</h5>
		
		<table class="table table-sm">
			<tr>
				<th></th>
				<th>Hier staan alle juridische afspraken</th>
					
			</tr>

		</table>
	</div>
</div>

<div class="col-md-5">
	<h5>Mediacentrum</h5>
		
		<table class="table table-sm">
			<tr>
				<th></th>
				<th>Hier kan je veel studieboeken lenen en gebruiken</th>
			</tr>

		</table>
	</div>
</div>

<div class="col-md-5">
	<h5>Osiris</h5>
		
		<table class="table table-sm">
			<tr>
				<th></th>
				<th>Hierop kan je al je cijfers inzien en aanmelden voor toetsen</th>
			</tr>

		</table>
	</div>
</div>

<div class="col-md-5">
	<h5>Mijn.hsleiden.nl</h5>
		
		<table class="table table-sm">
			<tr>
				<th></th>
				<th>Hierop is heel veel informatie te zien en al het huiswerk in het DLO</th>
			</tr>

		</table>
	</div>
</div>

<div class="col-md-5">
	<h5>Decaan</h5>
		
		<table class="table table-sm">
			<tr>
				<th></th>
				<th>Hier kan je terecht voor functiebeperking, vragen, advies en begeleiding</th>
			</tr>

		</table>
	</div>
</div>

</div>


{% endblock %}
