<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Forensisch-ICT">
				<div class="card-header">
					<h5 class="card-title">Forensisch ICT</h5>
				</div>
				<a>Bij forensisch ICT leer je digitaal onderzoek te doen ten behoeve van de rechtspraak. Dit betekent dat naast het feitelijk onderzoeken van computers, mobiele telefoons, tablets, sensoren, er veel aandacht wordt besteed aan het vastleggen van onderzoeksgegevens in verslagen en rapporten waarmee een rechtsgang ondersteund kan worden. Rechtskennis en vastlegging komen, evenals forensisch onderzoek, dus ook aan bod tijdens de projecten.

 Je moet goed met stress en druk om kunnen gaan want je moet de boeven altijd een stap voor zijn en het gaat om de levens van anderen. Er is een groeiende behoefte aan forensisch ICT-specialisten die snel en effectief kunnen optreden bij digitale opsporing. Een samenleving zonder technologie is immers niet meer voor te stellen dus een misdrijf bevat tegenwoordig altijd wel digitale sporen. Als forensisch ICT-er voel je je verantwoordelijk voor het bevorderen van een veilige maatschappij en het verminderen van de criminaliteit. Je houdt van onderzoeken en kunt goed omgaan met mensen en weet ze naar waarde in te schatten en de juiste informatie te achterhalen. Je kracht ligt bij het zoeken van wegen die leiden naar oplossingen voor ingewikkelde problemen.</a>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Business-Data-Management"
			>
				<div class="card-header">
					<h5 class="card-title">Business Data Management</h5>
				</div>
				<a>Data speelt een steeds belangrijkere rol in de maatschappij. Denk aan gebruikers/klantgegevens van bedrijven en dagelijkse toepassingen zoals sociale media, internetbankieren, het besturingssysteem van je mobiele telefoon en de software in auto’s zijn afhankelijk van een continue datastroom. En dat wordt in de komende jaren alleen maar sterker: de hoeveelheid data die wordt aangemaakt door mensen en systemen groeit exponentieel.

Een groot terrein wat business data managers moeten onderhouden. Technologie staat niet stil. Intussen is de computercapaciteit zo sterk dat hele grote hoeveelheden data opgeslagen en verwerkt kunnen worden van over de hele wereld. Deze Big Data komt vaak met grote snelheid in systemen terecht en moet ter plekke geanalyseerd worden. Door de meest actuele gegevens te vergelijken met historische data kunnen voorspellingen gedaan worden die bedrijven kunnen helpen met het maken van beslissingen die geld en tijd kunnen opleveren. Tijdens de specialisatie leer je het blootleggen, opslaan, analyseren, visualiseren en beheren van data.
Daarnaast is er binnen de specialisatie aandacht voor kennis van en inzicht in bedrijfsprocessen en worden onderzoeks- en projectvaardigheden aangeleerd. 
</ul>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Interactietechnologie">
				<div class="card-header">
					<h5 class="card-title">Interactietechnologie</h5>
				</div>
				<a>Bijna iedereen heeft een smartphone en internet. Ook neemt het aantal ‘intelligente’ apparaten in huis snel toe. Al deze apparaten en software moeten ons leven leuker en gemakkelijker maken. Interactie tussen gebruikers en systemen staat daarbij centraal. Dit is dus ook het speerpunt van interactie-technologie, om applicaties zo aantrekkelijk mogelijk te maken.

De specialisatie Interactie-technologie is aantrekkelijk voor makers die concepten kunnen ontwikkelen en realiseren. Je kunt je verplaatsen in gebruikers en weet goed wat hun eisen zijn. Je leert door te experimenteren en bent altijd nieuwsgierig naar de nieuwste ontwikkelingen in technologie, (sociale) media en mogelijkheden van gebruikersinteractie. Onmisbare kwaliteiten voor dit vak zijn het goed luisteren naar de wensen en belangen van verschillende partijen en samenwerken in multidisciplinaire teams. Je leert het ontwikkelen van het design en usability van (web)applicaties en fysieke apparaten. Daarnaast is er binnen de specialisatie aandacht voor prototyping, het zelf aanleren van nieuwe tools en technologie, innovatie en worden onderzoeks- en projectvaardigheden aangeleerd. Er wordt dus van je verwacht dat je nieuwsgierig bent in de nieuwe technologische ontwikkelingen.</a>
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Software-Engineering"
			>
				<div class="card-header">
					<h5 class="card-title">Software Engineering</h5>
				</div>
				<a>De specialisatie Software Engineering van de opleiding Informatica kijkt naar methoden en technieken die nodig zijn om hoogwaardige softwaresystemen te bouwen. Je leert over analyse, ontwerp, testen, ingebruikstelling en aanpassen van systemen. Van ontwerp tot onderhoud dus.

Bij de specialisatie Software Engineering leer je software voor diverse systemen te ontwerpen, te realiseren en implementeren. Je leert hoe de softwarearchitectuur in elkaar zit waarmee je ontdekt hoe je een applicatie ontwerpt en bouwt. Bovendien leer je om een systeem te ontwikkelen dat goed onderhouden kan worden en voldoet aan de standaardeisen die hiervoor gelden. Je hoeft je geen zorgen te maken over werkgelegenheid want met deze studie heb je genoeg te bieden. Je werkt individueel of in een team aan het ontwerpen, realiseren en testen van software.

De specialisatie Software Engineering is voor mensen met een sterk analytisch vermogen. Je bent verder iemand die graag ontwerpt en programmeert. Je vindt het interessant om slimme oplossingen voor ingewikkelde problemen te bedenken. Verder beschik je over de nodige sociale vaardigheden om samen met anderen te bedenken welk product het beste past bij de wensen van een bedrijf of instelling.
				<div class="card-body">
					<h3 class="card-title"></h3>
				</div>
			</div>
		</div>
	</div>
</div>